<div class="container">
  <div class="text-center">
    <h2 class="my-4">Client : <%= current_user.name %></h2>
    <table class="table table-dark mx-auto my-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.coiffeur.user.name %></td>
            <td><%= booking.status %></td>
            <td class="text-left"><%= booking.start %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
