<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>About us</h1>
        <div class="founders">
            <div class="founder">
                <a href="https://github.com/Chadiejja1998"><img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1707406092/T02NE0241-U0693Q5S4SK-4399a05b420c-512-removebg-preview_z9bobb.png" alt="Chadi"></a>
                <h2>Chadi</h2>
                <p>Junio is a skilled web developer proficient in Ruby on Rails and JavaScript, with expertise in MVC framework, Stimulus.</p>
                <a href="https://github.com/Chadiejja1998" class="github-link"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="founder">
                <a href="https://github.com/makmoulsoufiane"><img src="https://ca.slack-edge.com/T02NE0241-U06A709356C-043ff088b178-512" alt="Soufiane"></a>
                <h2>Soufiane</h2>
                <p>Junio, a proficient web developer in Ruby on Rails and JavaScript with expertise in the MVC framework Stimulus, also holds a professional license in computer network.</p>
                <a href="https://github.com/makmoulsoufiane" class="github-link"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="founder">
                <a href="https://github.com/totoamr"><img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1707405222/153497491_l5yc9e.jpg" alt="Tarek"></a>
                <h2>Tarek</h2>
                <p>Junio is a proficient web developer with expertise in Ruby on Rails and JavaScript, complemented by marketing experience.</p>
                <a href="https://github.com/totoamr" class="github-link"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="logo-container">
          <div class="logo">
              <img class="jobin" src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1707468354/hm8cs6wvmhxb01u7khvs.png" alt="Logo 1" >
          </div>
          <div class="logo">
              <img class="lewagon"  src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1707469618/le_wagon_22-removebg-preview_tdqgik.png" alt="Logo 2">
          </div>
        </div>
    </div>
</body>
</html>
