<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>À Propos</h1>
        <div class="founders">
            <div class="founder">
                <a href="https://github.com/ChadiBachir"><img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1707406092/T02NE0241-U0693Q5S4SK-4399a05b420c-512-removebg-preview_z9bobb.png" alt="Chadi"></a>
                <h2>Chadi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="https://github.com/ChadiBachir"><img src="github-logo.png" alt="GitHub"></a>
            </div>
            <div class="founder">
                <a href="https://github.com/Soufiane"><img src="https://ca.slack-edge.com/T02NE0241-U06A709356C-043ff088b178-512" alt="Soufiane"></a>
                <h2>Soufiane</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="https://github.com/Soufiane"><img src="github-logo.png" alt="GitHub"></a>
            </div>
            <div class="founder">
                <a href="https://github.com/Tarek"><img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1707405222/153497491_l5yc9e.jpg" alt="Tarek"></a>
                <h2>Tarek</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="https://github.com/totoamr" class="github-link"><i class="fa-brands fa-github"></i></a>




            </div>
        </div>
    </div>
</body>
</html>
