<section class="video-banner">
  <video class="video" autoplay muted loop height>
    <source src="https://res.cloudinary.com/dwi3h2ymk/video/upload/v1706103262/nt4qy9mfigd6xofaygmt.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Button inside the video banner -->
  <%= link_to "MAKE APPOINNEMENT", coiffeurs_path, class: "banner-button" %>
</section>


<!-- About -->
    <section id="about" data-scroll-index="1" class="about section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30">
                    <div class="section-head mb-20">
                        <div class="section-subtitle"></div>
                        <div class="section-title">Door Barber</div>
                    </div>
                    <p>At Door Barber, we redefine grooming by bringing the barber shop experience right to your doorstep. Life can be busy, and we understand that finding time for a haircut or grooming session isn't always easy. That's why we've crafted a unique and convenient solution just for you.</p>
                    <ul class="about-list list-unstyled mb-30">
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p>Certified professionals at Door Barber Home Services</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p>We use premium products for your perfect look</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p>We care about our customers satisfaction</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706534329/nlr8jwritydzxtoh7ogh.jpg" height="400px" alt="" class="mt-50 mb-30"> </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706534994/2about_rctr5u.jpg"  height="350px" alt=""> </div>
            </div>
        </div>
    </section>
    <!-- Services Box -->
    <section class="services-box section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item"> <span class="icon icon icon-icon-1-6"></span>
                        <div class="cont">
                            <h5>Haircuts</h5>
                            <p>At Door Barber Home Services, our skilled team crafts precision haircuts delivered to your doorstep. Experience the art of grooming without leaving the comfort of your home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item"> <span class="icon icon-icon-1-3"></span>
                        <div class="cont">
                            <h5>Fades</h5>
                            <p>Indulge in seamless fades with Door Barber Home Services. Our expert barbers bring the fading technique to you, ensuring a tailored look without the need to step outside.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item"> <span class="icon icon-icon-1-1"></span>
                        <div class="cont">
                            <h5>Shaves</h5>
                            <p>Discover the luxury of at-home shaves with Door Barber Home Services. Our certified barbers provide professional shaving services, allowing you to enjoy a grooming experience right where you are.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our History -->
    <section class="about section-padding bg-darkbrown">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-30 animate-box" data-animate-effect="fadeInLeft"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706534329/nlr8jwritydzxtoh7ogh.jpg" height="500px" alt=""> </div>
                <div class="col-md-7 valign mb-30 animate-box" data-animate-effect="fadeInRight">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-head mb-20">
                                <div class="section-subtitle">A LOT OF Year of Experience</div>
                                <div class="section-title white">Making people look awesome since 2023</div>
                            </div>
                            <h2>At Door Barber, we seamlessly connect you with skilled barbers. Say goodbye to traditional barbershops and hello to a unique and convenient way to get the perfect look. Book your session online and enjoy a personalized grooming experience in the comfort of your home..</h2>
                            <div class="about-bottom">
                                <div class="about-name-wrapper">
                                    <div class="about-rol">Barber, Founder</div>
                                    <div class="about-name">SOUFIANE <br> Chaddi <br> Tarik</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Services -->
    <section id="services" data-scroll-index="2" class="barber-services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <div class="section-subtitle">What we're offering</div>
                        <div class="section-title">Door Barbers</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706538437/1_wmc4dy.jpg"  height="400px" alt=""> </div>
                            <div class="con">
                                <div class="icon icon-icon-1-6"></div>
                                <h5>Hair Cut</h5>
                                <div class="line"></div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="permalink">Hair cut amet ravida haretra nuam the drana miss uctus enec accumsan.</div>
                                        <h6>$30</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706538442/2_gwvef7.jpg" height="400px" alt=""> </div>
                            <div class="con">
                                <div class="icon icon-icon-1-1"></div>
                                <h5>Beard Trim</h5>
                                <div class="line"></div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="permalink">Shaves ons amet ravida haretra nuam the drana miss uctus enec accumsan.</div>
                                        <h6>$20</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706538430/3_cdccdi.jpg" height="400px" alt=""> </div>
                            <div class="con">
                                <div class="icon icon-icon-1-4"></div>
                                <h5>Hair Wash</h5>
                                <div class="line"></div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="permalink">Hair wash amet ravida haretra nuam the drana miss uctus enec accumsan.</div>
                                        <h6>$15</h6>
                                    </div>
                                </div>
                            </div>
                        </div>                </div>
            </div>
        </div>
    </section>
