<section class="video">
  <video autoplay muted loop>
    <source src="https://res.cloudinary.com/dwi3h2ymk/video/upload/v1706103262/nt4qy9mfigd6xofaygmt.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
