<section class="video-banner">
  <video class="video" autoplay muted loop>
    <source src="https://res.cloudinary.com/dwi3h2ymk/video/upload/v1706103262/nt4qy9mfigd6xofaygmt.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h1>Barber shop</h1>

  <!-- Button inside the video banner -->
  <%= link_to "Choose your Barber", coiffeurs_path, class: "banner-button" %>
</section>



    <section class="steps">
        <div class="step">
            <div class="title">Step 1: Create an Account</div>
            <div class="description">Sign up on our website by providing the necessary information and creating your account.</div>
        </div>

        <div class="step">
            <div class="title">Step 2: Explore Our Features</div>
            <div class="description">Take a tour of our website to explore the exciting features and services we offer.</div>
        </div>

        <div class="step">
            <div class="title">Step 3: Start Using the Website</div>
            <div class="description">Once you're familiar with our platform, start using it to make the most of what we have to offer.</div>
        </div>
    </section>


</div>
