<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwi3h2ymk/image/upload/v1706023899/Untitled_design_gwbqbz.jpg);">

</div>
