<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> Barber On-Demand:<strong>Bringing Expert Grooming to Your Doorstep!</strong>!</h1>
    <p> Whether you're after a classic cut or a modern trend, our skilled barbers are here to create a look that suits you.</p>

    <a class="btn btn-flat btn-violet" href="#">Apply now</a>
  </div>
</div>

    <section class="steps">
        <div class="step">
            <div class="title">Step 1: Create an Account</div>
            <div class="description">Sign up on our website by providing the necessary information and creating your account.</div>
        </div>

        <div class="step">
            <div class="title">Step 2: Explore Our Features</div>
            <div class="description">Take a tour of our website to explore the exciting features and services we offer.</div>
        </div>

        <div class="step">
            <div class="title">Step 3: Start Using the Website</div>
            <div class="description">Once you're familiar with our platform, start using it to make the most of what we have to offer.</div>
        </div>
    </section>
