

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(#91765a, #91765a), url("banner-img.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
=======
.show-page {
  display: flex;
  width: 100%;
  align-items: center;

}

.right-div {
  width: 100%;

  background-color: rgb(0, 0, 0);
  background-color:white(228, 228, 228);
}

.left-div {
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-color: rgb(236, 232, 232);

